<h1>Current</h1>

<form name="newTask" (ngSubmit)="addBtnClick()">
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput type="text" [(ngModel)]="newTask.title" name="title">
  </mat-form-field>
  &nbsp;
  <mat-form-field appearance="outline">
    <mat-label>Choose a deadline</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="newTask.deadline" name="deadline">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button mat-button color="primary" type="submit">Save</button>
</form>

<ul>
  <li *ngFor="let task of taskList; let index = index" style="list-style-type: none">
    <mat-card style="width: 60%; margin-right: 20%; margin-bottom: 1vh">
      <div style="display: flex; justify-content: center; align-items: center">
        <div style="width: 50%">
          <p>{{task.deadline}}</p>
          <p>{{task.title}}</p>
        </div>
        <div style="width: 50%;">
          <mat-checkbox (change)="switchTaskChanged(task)" [checked]="task.completed" style="float: right;"/>
        </div>
      </div>
    </mat-card>
  </li>
</ul>
<button mat-button color="primary" (click)="archiveCompleted()" [disabled]="!isAnyCompleted()">Archive selected</button>
