<h1>Archive</h1>
<ul>
  <li *ngFor="let task of taskList" style="list-style-type: none">
    <mat-card style="margin: 1vh">
      <div style="display: flex; justify-content: center; align-items: center">
        <div style="width: 50%">
          <p>{{task.deadline}}</p>
          <p>{{task.title}}</p>
        </div>
        &nbsp;
        <div style="float: right">
          <button mat-button color="primary" (click)="delete(task)">Delete</button>
        </div>
      </div>
    </mat-card>
  </li>
</ul>
